// Specific CSS for your home-page
.statistics-box {
  display: flex;
  padding: 30px 10px;
  margin-top: -70px;
  width: 65%;
  align-items: center;
  justify-content: space-between;
  background: #ffffff;
  border-radius: 5px;
  // -webkit-box-shadow: 0px 0px 30px 0px rgb(52 52 52 / 15%);
  // box-shadow: 0px 0px 30px 0px rgb(52 52 52 / 15%);
}

.container-title {
  background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0) 59%, rgba(0, 0, 0, 0.65) 100%),
  url("https://images.unsplash.com/photo-1513635269975-59663e0ac1ad?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=2070&q=80");
  height: 80vh;
  width: 100%;
  // max-height: 800px;
  // max-width: 1280px;
  // min-height: 600px;
  // min-width: 1000px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin: 0 auto;
  background-size: cover;
}

.container-box {
  padding: 5px;
  color: white;
  font-size: 15px;
  width: 50%;
  margin: auto;
  align-items: center;
}

.container-events {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin: 0 auto;
}

.container-body {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin: 0 auto;
}

.statistics-item {
  margin: auto;
  text-align: center;
}

.icon-home {
  font-size: 25px;
}
