// Specific CSS for your home-page
.statistics-box {
  display: flex;
  padding: 30px 10px;
  margin-top: -70px;
  width: 65%;
  align-items: center;
  justify-content: space-between;
  background: #ffffff;
  border-radius: 5px;
  // -webkit-box-shadow: 0px 0px 30px 0px rgb(52 52 52 / 15%);
  // box-shadow: 0px 0px 30px 0px rgb(52 52 52 / 15%);
}

.container-title {
  height: 80vh;
  width: 100%;
  background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.6) 100%, rgba(0, 0, 0, 0) 100%, rgba(0, 0, 0, 0.65) 100%),
  url("https://www.uniquevenues.com/sites/uniquevenues.com/files/iStock-945129070_copy.jpg") ;
  // max-height: 800px;
  // max-width: 1280px;
  // min-height: 600px;
  // min-width: 1000px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin: 0 auto;
  background-size: cover;
  // opacity: 0.5;
}

.container-box {
  padding: 5px;
  color: white;
  font-size: 15px;
  width: 50%;
  margin: auto;
  align-items: center;
}

.container-events {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin: 0 auto;
}

.container-body {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin: 0 auto;
}

.statistics-item {
  margin: auto;
  text-align: center;
}

.icon-home {
  font-size: 25px;
}

.title-subtitle {
  margin: auto;
  align-items: center;
  justify-content: space-around;
  text-align: center;
  // padding: 3rem 3rem 3rem 160px;
  padding-top: 3rem;
  padding-bottom: 3rem;
}

.title1 {
  font-size: 40px;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;

}

.subtitle1 {
  font-size: 25px;
}

.h1-reserve {
 font-size: 55px;
 text-align: center;
 color: #D9E4C8;
//  font-weight: bold;
 font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

// .p {
//   color: #415D43;
//   font-size: 25px;
//   text-shadow: rgb(75, 75, 75) 1px 0 10px;
// }

.card {
  box-sizing: border-box;
  // padding: 3px;
  border-radius: 5px;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
  border: none;
  width: 310px;
}

#img-list {
  border-radius: 5px;
}

// .homepage-venues {
//   margin: auto;
//   align-items: center;
// }

.desc {
  font-size: 20px;
  // text-shadow: rgb(75, 75, 75) 1px 0 10px;
  color:#ffffff;
  text-align: center;
}

.card-body {

  h5 a {
    text-decoration: none;
    color: #415D43;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: lighter;
    font-size: 25px;
  }
}

.headerDivider {
  border-right: 1px solid #16222c;
  border-left: 1px solid #16222c;
}

.index-button {
  background-color: #415D43;
  border: none;
  color: white;
  padding: 16px 33px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 24px;
  border-radius: 30px;
  transition-duration: 0.4s;
}

.index-button:hover {
  background-color: #8AAC8C;
}

.button-i {
  margin-left: auto;
  margin-right: auto;
  width: 50%;
  padding: 50px;
  text-align: center
}


// margin: auto - By setting margin property to auto
// position: fixed - By setting position property to fixed
// display: flex - By setting the display property to flex
// display: grid -
