.show-card{
  width: 100%;
  margin: 10px;
}

.edit-delete {
  text-align: center;
  margin-top: 40px;
}

.venue-description {
  margin: 40px;
}

.back {
  text-align: center;
  text-decoration: none;
  margin-top: 10px;
  margin-bottom: 10px;
}

.new-h1 {
  color:#415D43;
  text-shadow: 1px 1px white;
}
