#img-list {
  height: 350px;
  width: 100%;
  object-fit: cover;
}

.card-body {
  a {
    text-decoration: none;
    color: #415d43;
  }
}

.btn-primary {
  background-color: #415d43 !important;
  border: none;
}

.btn-primary:hover {
  background-color: #9EA98E !important;

}
